fastapi
uvicorn
python-dotenv
requests
pydantic

streamlit
plotly
graphviz

pillow
pypdf
python-docx

openai
google-generativeai

langchain
langchain-community

chromadb==0.4.24

numpy<2
pandas
tqdm
httpx

sentence-transformers
transformers
torch

chromadb

protobuf<5
typing-extensions
